---
import Layout from '../../layouts/Layout.astro';
import API from '../../components/ApiDev.svelte';
import SvelteSite from '../../components/MainPage.svelte'

const { id } = Astro.params;
---

<Layout title="API">
    <SvelteSite>
	</SvelteSite>
    <div style="padding-left: 10rem;">
        <h1>Editing Device with following ID: {id}</h1>
        <API astroProp={id} client:visible>
        </API>
    </div>
</Layout>
