---
import Layout from '../../layouts/Layout.astro';
import API from '../../components/ApiDev.svelte';
import SvelteSite from '../../components/MainPage.svelte';

const { id } = Astro.params;
---

<Layout title="API">
    <SvelteSite>
	</SvelteSite>
    <div style="padding-left: 10rem;">
        <API astroProp={id} client:visible/>
    </div>
</Layout>
