---
import Layout from '../layouts/Layout.astro';
import SvelteSite from '../components/main.svelte'
---

<Layout title="404 - Page not found!">
    <h1>404 - You drifted into outer space</h1>
</Layout>
