---
// test API
const res = await fetch('https://api.sampleapis.com/coffee/hot')
const data = await res.json()
---

<ul>
    {data.map(item => (
        <li>{item.id}</li>
        <li>{item.title}</li>
        <li>{item.description}</li>
      ))}
</ul>